/* Webpage color palette
#ece0d1
#dbc1ac
#967259
#634832
#38220f
*/



header{
    background-color: #dbc1ac;
}

footer{
    background-color: #dbc1ac;
    position: sticky;
    top: 100%;
    height: 2.5rem;
    width: 100%;
}

body{
    background-color: #ece0d1;
    margin: auto;
    text-align: center;
    min-height: 100vh;
}

div{
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

/* Navbar elements */

.nav_element{
    padding-left: 0.5%;
    padding-right: 0.5%;
}

#nav{
    position:fixed;
    top:0%;
    width: 100%;
    background-color: #dbc1ac;
    display: flex;
    justify-content: center;
}

/* Text elements */

h1{
    font-family: cursive;
    color: #38220f;
}

h2{
    font-family: sans-serif;
    color: #38220f;
}

h3{
    font-family: monospace;
    color: #634832;
}

h5{
    font-family: sans-serif;
    color: #38220f;
    padding-left: 5%;
    padding-right: 5%;
}

h6{
    font-family: monospace;
    color: #38220f;
}

p{
    font-family: cursive;
    color: #634832;
}

.p_overflow{
    overflow-wrap: break-word;
    margin: auto;
}

a{
    font-family: sans-serif;
    color: #38220f;
}

/* Hover underine for links */

a:hover{
    font-family: sans-serif;
    color: #38220f;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.06),0 8px 25px 0 rgba(0,0,0,0.12);
}

.button_underline{
    font-family: sans-serif;
    color: #38220f;
}

.button_underline:hover{
    font-family: sans-serif;
    color: #38220f;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.06),0 8px 25px 0 rgba(0,0,0,0.12);
}

label{
    font-family: monospace;
    font-size: large;
    color: #38220f;
}

.nav_button{
  background: none!important;
  border: none;
  padding: 0!important;
  font-size: medium;
  /*optional*/
  font-family: sans-serif;
  text-decoration: underline;
  cursor: pointer;

}

.button{
    background-color: #ece0d1;
    color: #38220f;
    border-radius: 8px;
}

.no_button{
    border: none;
    background-color: #dbc1ac;
}

.button:hover{
    background-color: #ece0d1;
    color: #38220f;
    border-radius: 8px;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.12),0 8px 25px 0 rgba(0,0,0,0.12);
}

.input{
    background-color: #ece0d1;
}

.check_button{
    padding-left: 2%;
    padding-right: 2%;
}

#admin{
    background-color: #dbc1ac;
    color: #38220f;
    border: none;
    text-decoration: underline;
    font-family: sans-serif;
    font-size: medium;
}

.flex{
    display: flex;
    flex-direction: row;    
}

.flex-image{
    width: 20%;
    height: 70%;
    border-style: solid;
    border-color: #dbc1ac;
    position: fixed;
    display: flex;
}  

.flex-element-image-column{
    width: 30%;
    padding-left: 12px;
    padding-right: 12px;
    
}

.flex-element-posts-column{
    width: 40%;
    padding-left: 10%;
    padding-right: 10%;
}
