{% extends 'layout.html' %}
{% block content %}

<form action="/ban_user" method="post">
    <h2><label for="username">Ban A User</label></h2>
    <textarea class="input" required name="username" id="username" cols="18" rows="1" maxlength="120"></textarea>
    <br><br>
    <button class="button">Ban</button>
</form>

<div>
    <h1>Posts</h1>
    <br><br>
    {% for idea_data in idea_data %}
    <h2>
    {{ idea_data[0] }}
    </h2>
        
    <p>
    {{ idea_data[1] }}
    </p>
        
    <h5>
    {{idea_data[2]}}
    </h5>
        
    <h5>
    Likes: {{idea_data[4]}}
    </h5>
    
    <form action="/delete_their_post" method="post">
        <input type="hidden" name="post_id" value="{{ idea_data[3] }}">
        <button class="button">Delete</button>
    </form>
           
    
    {% endfor %}    
</div>

<div>
<h1>Users</h1>
<br><br>
    {% for username in username %}

    <h3>{{username[0]}}</h3>
   
    {% endfor %}

</div>




{% endblock %}