{% extends 'layout.html' %}
{% block content %}

<form action="/ban_user" method="post">
    <h2><label for="username">Ban A User</label></h2>
    <textarea class="input" required name="username" id="username" cols="18" rows="1" maxlength="120"></textarea>
    <br><br>
    <button class="button">Ban</button>
</form>

<div class="admindiv">
    {% for results in results %}
    <h2>
    {{ results[0] }}
    </h2>
        
    <p>
    {{ results[1] }}
    </p>
        
    <h5>
    {{results[2]}}
    </h5>
        
    <h5>
    Likes: {{results[4]}}
    </h5>
    
    <form action="/delete_post" method="post">
        <input type="hidden" name="post_id" value="{{ results[3] }}">
        <button class="button">Delete</button>
    </form>
           
    
    {% endfor %}    
</div>

<div class="admindiv">

    {% for results1 in results1 %}

    <h3>{{results1[0]}}</h3>
   
    {% endfor %}

</div>




{% endblock %}