<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/static/styles.css">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stay Mindful</title>
    <link type="image/png" sizes="96x96" rel="icon" href="static/favicon.png">
</head>

<div>
    <nav>
        {% include "nav.html" %}
    </nav>
</div>

<body>
    
    <header>
        {% include "header.html" %}
    </header>

    <main class="flex">
        <div class="flex-element-image-column">
            <img class="flex-image" src="{{ random_image }}" alt="Mindful">
        </div>        

        <div class="flex-element-posts-column">

            {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for msg in messages %}
                <p>{{ msg }}</p>
                <br><br>
              {% endfor %}
            {% endif %}
          {% endwith %} 

        {% block content %} 

        {% endblock %}
        </div>

        <div class="flex-element-image-column">
            <img class="flex-image" src="{{ random_image1 }}" alt="Mindful">      
        </div>         
    </main>

</body>

<footer>
    {% include "footer.html" %}
</footer>

</html>


