{% extends 'layout.html' %}
{% block content %}
<br><br>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for msg in messages %}
      <p>{{ msg }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}   
<br><br>

<form action="/login" method="post">
  <label for="username">Whats your username?</label>
  <input class="input" type="username" name="username" required>
  <br><br>
  <label for="password">Whats your password?</label>
  <input class="input" type="password" name="password" required>
  <br><br>
  <button class="button" type="submit" name="login" value="login">Login</button>
</form>

<br><br>
<p>Did you want to create an account instead?</p>
<a class="nav_element" href="/create_account_page">Create Account</a>

{% endblock %}