{% extends 'layout.html' %}
{% block content %}
<br><br>

<form action="/create_or_login" method="post">
    <label for="username">Whats your username?</label>
    <input type="username" name="username" required>
    <br><br>
    <label for="password">Whats your password?</label>
    <input type="password" name="password" required>
    <br><br>
    <button type="submit" name="create_or_login" value="create_account">Create account</button>
    <button type="submit" name="create_or_login" value="login">Login</button>
</form>

{{ msg }}

{% endblock %}