{% extends 'layout.html' %}
{% block content %}

<form action="/post_idea" method="post">
    <h2><label for="post_idea">Create a post</label></h2>
    <textarea class="input" required name="post_idea" id="post_idea" cols="36" rows="6" maxlength="120"></textarea>
    <br><br>
    <button class="button">Post</button>
</form>

{% for results in results %}
     
<div>
    <br><br>
    <p>
        "{{ results[3] }}"
        </p>
                
        <h5>
        {{ results[1] }}
        </h5>
        
        <form action="/delete_my_post" method="post">
            <input type="hidden" name="post_id" value="{{ results[0] }}">
            <button class="button">Delete</button>
        </form>
</div>


{% endfor %}

<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>





{% endblock %}