{% extends 'layout.html' %}
{% block content %}
    <form action="/post_idea" method="post">
        <h2><label for="post_idea">Create a post</label></h2>
        <textarea class="input" required name="post_idea" id="post_idea" cols="36" rows="6" maxlength="200"></textarea>
        <br><br>
        <label class="check_button">Public   
            <input type="radio" checked="checked" value="1" name="radio">
        </label>
        <label class="check_button">Private
            <input type="radio" value="0" name="radio">
        </label>
        <br><br> 
        <button class="button">Post</button>
            
     </form>
        
    {% for user_idea_data in user_idea_data %}
             
    <div>
        <br><br>
        <p>
            "{{ user_idea_data[3] }}"
        </p>
                        
        <h5>
        {{ user_idea_data[1] }}
        </h5>
                
        <form action="/delete_my_post" method="post">
            <input type="hidden" name="post_id" value="{{ user_idea_data[0] }}">
            <button class="button">Delete</button>
        </form>
    </div>
    {% endfor %}

{% endblock %}