{% extends 'layout.html' %}
{% block content %}
<form action="/public_posts" method="post">
    <label for="sort">Sort by:</label>
    <select class="input" name="sort" id="sort">
        <option value="popular">Popular</option>
        <option value="newest">Newest</option>
        <option value="oldest">Oldest</option>
    </select>
    <br><br>
    <input type="hidden" name="sort" value="sort">
    <input class='button' type="submit" value="Submit">
    </form>
        
{% for idea_data in idea_data %}
        
<div>
    <h2>
        {{ idea_data[0] }}
    </h2>
                
    <p class="p_overflow">
        {{ idea_data[1] }}
    </p>
                
    <h5>
        {{ idea_data[2] }}
    </h5>
                
    <h5>
        Likes: {{ idea_data[4] }}
    </h5>

    {% if idea_data[3] in liked_posts %}
    <form action="/like" method="post">
        <input type="hidden" name="like" value="{{  idea_data[3] }}">
        <input class="button" type="submit" value="Unlike">
    </form>
    {% else %}
    <form action="/like" method="post">
        <input type="hidden" name="like" value="{{  idea_data[3] }}">
        <input class="button" type="submit" value="Like">
    </form>
    {% endif %}
                   
    
</div>

{% endfor %}    
{% endblock %}